---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <Hr noPadding />
  <div
    class="flex items-center justify-between gap-4 py-6 sm:py-4"
  >
    <p class="text-sm opacity-75">&copy; 2026 Emil Patrick</p>
    <Socials centered />
  </div>
</footer>
